---
import BaseLayout from "../../layouts/BaseLayout.astro";

import "@fontsource-variable/newsreader";
import "@fontsource-variable/newsreader/wght-italic.css";
import "@fontsource/bebas-neue";
import ImageImageSection from "../../components/ImageImageSection.astro";
import logoWit from "../../images/klaar_fancy.png";

import bg from "../../images/owee_front.png";

let collection = await getCollection("planning", ({ id }) =>
  id.startsWith("en/"),
);

let sortedCollection = collection.sort((a, b) => {
  return new Date(a.data.date).getTime() - new Date(b.data.date).getTime();
});

import { getCollection } from "astro:content";
import PlanningDay from "../../components/PlanningDay.astro";
import PlanningEvent from "../../components/PlanningEvent.astro";
---

<BaseLayout>
  <ImageImageSection
    image={bg}
    logo={logoWit}
    url="https://aegee-delft.nl/en/lid-worden"
    text="Sign Up?"
  />
  <section id="planning">
    <table class="flextable">
      <tbody>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>
            <h1><span class="i">OWEE</span><br />PLANNING</h1>
          </td>
          <td></td>
        </tr>
        {
          sortedCollection
            .map((a) => a.data)
            .map((data, index) => (
              <PlanningDay day={data.day} right={index % 2 == 1}>
                {data.events.map((event, evtIdx) => (
                  <PlanningEvent
                    time={event.time}
                    location={event.location}
                    title={event.title}
                    imageSource={event.image}
                    right={(index + evtIdx) % 2 == 1}
                  >
                    {event.description}
                  </PlanningEvent>
                ))}
              </PlanningDay>
            ))
        }
      </tbody>
    </table>
  </section>
</BaseLayout>

<style lang="scss">
  #planning {
    padding: 1vw;
    margin: 0;
    background: #e2bdda;
  }
  table {
    width: 100%;
  }
  table.flextable {
    display: flex;
    flex-direction: column;
  }
  table.flextable > thead,
  table.flextable > tfoot,
  table.flextable > tbody {
    display: flex;
    flex-direction: column;
  }
  table.flextable > * > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  h1 {
    font-size: 3.5rem;
    color: white;
    font-family: "Newsreader Variable", serif;
    text-align: left;
    .i {
      font-family: "Newsreader Variable", serif;
      font-style: italic;
    }
  }

  tr {
    width: 100%;

    @media (max-width: 768px) {
      td {
        width: 100% !important;
        background-color: initial !important;
      }
    }

    td:nth-child(1) {
      width: 35%;
    }
    td:nth-child(2) {
      width: 10%;
      background-color: white;
    }
    td:nth-child(3) {
      width: 40%;
      padding-left: 2.5rem;
    }

    td:nth-child(4) {
      width: 15%;
    }
  }
</style>
