---
import BaseLayout from "../layouts/BaseLayout.astro";
import bg from "../images/europe_front.png";
import { Image } from "astro:assets";
import ImageTextSection from "../components/ImageTextSection.astro";
import euBg from "../images/europeBg.png";
import "@fontsource-variable/newsreader";
import europe1 from "../images/europe_1.png";
import europe2 from "../images/europe_2.png";
import europe3 from "../images/europe_3.png";
---

<BaseLayout title="Europe" preloadImages={[bg, euBg]}>
  <ImageTextSection image={bg} classNames={["fixUrself"]}>
    <h1 class="first">Europa</h1>
  </ImageTextSection>
  <ImageTextSection image={euBg}>
    <section>
      <section id="top">
        <section id="details">
          <p>161 STEDEN</p>
          <p>40 LANDEN</p>
          <p>13000 LEDEN</p>
        </section>
        <p id="left">
          AEGEE is één van Europa's grootste interdisciplinaire
          studentenorganisaties, strevend naar een democratisch, divers en
          grenzeloos Europa. AEGEE versterkt onderling begrip en brengt Europa
          dichterbij voor jonge mensen.
        </p>
      </section>
      <section id="bottom">
        <section class="item">
          <h1>AGORA & EPM</h1>
          <Image src={europe1} alt="AGORA & EPM" />
          <p>
            Drie keer per jaar komen alle AEGEE locals ergens in Europa samen om
            een week lang de vooruitgang te beoordelen, toekomstplannen te maken
            en natuurlijk, uitbundig te feesten. Op die manier maak je makkelijk
            vrienden en connecties met studenten door heel Europa!
          </p>
        </section>
        <section class="item">
          <h1>SUMMER UNIVERSITIES</h1>
          <Image src={europe2} alt="Summer Universities" />
          <p>
            Al klinkt het als zomerschool, is dat zeker niet waar je aan moet
            denken bij summer universities. Het is een uitwisseling met andere
            AEGEE's waar je een week lang activiteiten doet met medestudenten.
            Historische tours, hiken door de natuur of flink feesten, alles is
            mogelijk bij een Summer University!
          </p>
        </section>
        <section class="item">
          <h1>AEGEE-PASSAU</h1>
          <Image src={europe3} alt="AEGEE-Passau" />
          <p>
            AEGEE-Passau is een local op de Duits-Oostenrijkse grens. Maar ze
            zijn niet zomaar een local, ze zijn namelijk onze Twin Local! Dit
            betekent dat ze elk jaar naar ons kerstdiner komen met een
            delegatie, en wij elk jaar naar hun Boatparty. We hebben hele hechte
            relatie met ze, en genieten altijd van mekaars gezelschap.
          </p>
        </section>
      </section>
    </section>
  </ImageTextSection>

  <style lang="scss">
    h1.first {
      font-size: 9rem;
      margin: 0;
      text-align: right;
      color: white;
      font-family: "Newsreader Variable", serif;
      padding-top: 67vh;
      padding-right: 4vw;

      @media (max-width: 768px) {
        font-size: 3rem;
      }
    }

    .fixUrself {
      @media (max-width: 768px) {
        background-position-x: -50vw;
      }
    }

    img {
      max-width: 100%;
      height: auto;
      width: auto;
    }

    .item {
      padding: 1rem;
      color: rgba(255, 255, 255, 0.75);

      @media (min-width: 768px) {
        width: 30%;
      }
      h1 {
        font-size: 2rem;
        margin: 0;
      }

      p {
        margin: 0;
        font-size: 1.1rem;
        font-weight: bold;
      }
    }

    #bottom {
      padding-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    #top {
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      color: white;
      font-size: 2rem;

      @media (min-width: 768px) {
        flex-direction: row;
        margin: 0 20vw;
      }

      p {
        margin: 0;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.65);
      }

      #details {
        min-width: fit-content;
        @media (min-width: 768px) {
          margin-right: 2rem;
          text-align: right;
        }
      }

      #left {
        border-top: 2px solid rgba(255, 255, 255, 0.65);
        @media (min-width: 768px) {
          border-top: none;
          border-left: 2px solid rgba(255, 255, 255, 0.65);
          padding-left: 2rem;
          text-align: left;
        }
      }
    }
  </style>
</BaseLayout>
