---
import BaseLayout from "../layouts/BaseLayout.astro";

import "@fontsource/bebas-neue";
import "@fontsource-variable/newsreader";
import "@fontsource-variable/newsreader/wght-italic.css";
import bg from "../images/owee_front.png";
import logoWit from "../images/avontuurFancy.svg";
import ImageImageSection from "../components/ImageImageSection.astro";
import korayinger from "../images/korayinger.jpg";

import planning2 from "../images/planning_2.png";
import planning3 from "../images/planning_3.png";
import planning4 from "../images/planning_4.png";
import planning5 from "../images/planning_5.png";
import planning6 from "../images/planning_6.png";
import planning7 from "../images/planning_7.png";
import planning8 from "../images/planning_8.png";

import PlanningDay from "../components/PlanningDay.astro";
import PlanningEvent from "../components/PlanningEvent.astro";
---

<BaseLayout>
  <ImageImageSection image={bg} logo={logoWit} url="https://aegee-delft.nl/lid-worden" text="Inschrijven?" />
  <section id="planning">
    <table class="flextable">
      <tbody>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>
            <h1><span class="i">OWEE</span><br />PLANNING</h1>
          </td>
          <td></td>
        </tr>
        <PlanningDay day="Zondag" right={false}>
          <PlanningEvent
            time="18:00"
            location="Parade Terrein"
            title="Parade"
            imageSource={korayinger}
          >
            Onze paarse stoet komt er weer aan en zal iedereen een eerste beeld
            geven bij wie we zijn.
          </PlanningEvent>
        </PlanningDay>
        <PlanningDay day="Maandag" right={true}>
          <PlanningEvent
            time="12:00"
            location="MARKT PLEIN"
            title="Infomarkt"
            imageSource={planning2}
            right={true}
          >
            Kom gezellig met leden praten om de sfeer te proeven en een beter
            beeld te krijgen van wat we allemaal doen!
          </PlanningEvent>
          <PlanningEvent
            time="20:00"
            location="Broeder Lazarus"
            title="Taste of Europe"
            imageSource={planning3}
            right={false}
          >
            Zie AEGEE op dé klassieke manier: proef verschillende drankjes en
            snacks vanuit heel Europa!
          </PlanningEvent>
          <PlanningEvent
            time="21:00"
            location="Broeder Lazarus"
            title="EUROPARTY"
            imageSource={planning4}
            right={true}
          >
            Sluit samen met AEGEE-Delft de tweede OWee dag af op de mooiste
            Europese feestnummers bij onze Europarty.
          </PlanningEvent>
        </PlanningDay>
        <PlanningDay day="Dinsdag" right={false}>
          <PlanningEvent
            time="21:00"
            location="Broeder Lazarus"
            title="Pitch Imperfect Karaoke"
            imageSource={planning5}
          >
            Kom samen met onze leden een leuke karaoke avond vieren. Vraag je
            favoriete nummers aan en ga helemaal los!
          </PlanningEvent>
        </PlanningDay>
        <PlanningDay day="Woensdag" right={true}>
          <PlanningEvent
            time="10:00"
            location="X"
            title="Activiteiten Markt"
            imageSource={planning6}
            right={true}
          >
            We zullen te vinden zijn op het terrein van X. Geef aan hoeveel van
            Europa jij al gezien hebt en waar je het liefst nog eens heen wilt!
          </PlanningEvent>
          <PlanningEvent
            time="21:00"
            location="Broeder Lazarus"
            title="Glownight"
            imageSource={planning7}
            right={false}
          >
            Samen met de andere Nederlandse AEGEE's gaan we er een mooi
            afsluitend feest van maken. Geniet van prachtige neon kleuren en
            goede muziek van verschillende DJ's!
          </PlanningEvent>
        </PlanningDay>
        <PlanningDay day="Donderdag" right={true}>
          <PlanningEvent
            time="18:00"
            location="Tuin achter Kanaalweg 4"
            title="WELKOM BBQ"
            right={true}
            imageSource={planning8}
          >
            Op deze laatste avond is iedereen welkom! Kom met onze leden
            gezellig genieten van een relaxte sfeer en een heerlijke BBQ!
          </PlanningEvent>
        </PlanningDay>
      </tbody>
    </table>
  </section>
</BaseLayout>

<style lang="scss">
  #planning {
    padding: 1vw;
    margin: 0;
    background: linear-gradient(180deg, #e0c1de 33%, #86afdc 100%);
  }
  table {
    width: 100%;
  }
  table.flextable {
    display: flex;
    flex-direction: column;
  }
  table.flextable > thead,
  table.flextable > tfoot,
  table.flextable > tbody {
    display: flex;
    flex-direction: column;
  }
  table.flextable > * > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  h1 {
    font-size: 3.5rem;
    color: white;
    font-family: "Newsreader Variable", serif;
    text-align: left;
    .i {
      font-family: "Newsreader Variable", serif;
      font-style: italic;
    }
  }

  tr {
    width: 100%;

    @media (max-width: 768px) {
      td {
        width: 100% !important;
        background-color: initial !important;
      }
    }

    td:nth-child(1) {
      width: 35%;
    }
    td:nth-child(2) {
      width: 10%;
      background-color: white;
    }
    td:nth-child(3) {
      width: 40%;
      padding-left: 2.5rem;
    }

    td:nth-child(4) {
      width: 15%;
    }
  }
</style>
